# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
.vscode/
*.iml
.DS_Store

# RASA secrets - JANGAN commit file ini!
.env
*.env
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
android/key.properties
*.jks
*.keystore
*.keystore.bak
